.button {
  padding: 0.5rem 1.5rem;
  width: auto;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #0d4106;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  border: none;
  border-radius: .25rem;
}

.button:hover {
  cursor: pointer;
}

.button.red {
  background-color: #8B0000; 
}

.button.red:hover {
  background-color: #A52A2A; 
}