.title {
  font-family: 'Roboto', 'sans-serif';
  color: #333;
  margin-bottom: 1rem;
  color: #007bff;
}

.title.h1 {
  font-size: 2.5rem;
}

.title.h2 {
  font-size: 2rem;
}

.title.h3 {
  font-size: 1.75rem;
}

.title.h4 {
  font-size: 1.5rem;
}

.title.h5 {
  font-size: 1.25rem;
}

.title.h6 {
  font-size: 1rem;
}
