.input-container {
  width: 100%;
  margin-bottom: 1rem;
}

.label-input {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.text-input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}
