:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgb(14, 35, 1);
  background-size: cover; /* Opcional: Faz com que a imagem cubra todo o fundo */
  background-position:center; /* Opcional: Centraliza a imagem */
  background-repeat: no-repeat; /* Opcional: Impede a repetição da imagem */
  margin: 0; /* Remove a margem padrão do body */
  height: 100vh; /* Garante que o body ocupe toda a altura da tela */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

